.pole{
     background:#f2f1ed;
     height:10px;
     width:100px;
}
.res{
     background:#f2f1ed;
     height:10px;
}
table{
     width:400px;
     height:100px;
     border:1px solid grey;
     background:#9ca880;
     margin:left;
}